:root {
	/** Global Settings **/
	--body: rgb(32, 32, 32);
	--primary-color: white;
	--secondary-color: rgb(220, 220, 220);
	--tertiary-color: rgb(190, 190, 190);
	--primary-hover: rgb(60, 60, 60);

	/** Scrollbar **/
	--scrollbar-track: rgb(30, 30, 30);
	--scrollbar-thumb: rgb(92, 92, 92);
	--scrollbar-thumb-hover: rgb(80, 80, 80);

	/** Controls **/
	--toggle-controls: rgba(50, 50, 50, 0.4);
	--primary-a: rgb(64, 124, 255);

	/** Buttons **/
	--primary-button: rgb(52, 99, 202);
	--secondary-button: rgb(45, 85, 170);
	--primary-green: rgb(61, 252, 77);

	/** Input **/
	--primary-input: rgb(80, 80, 80);
	--secondary-input: rgb(52, 99, 202);

	/** Table **/
	--primary-thead-border: 2px solid white;
	--row-hover: rgb(45, 45, 45);
	--cell-hover: rgb(60, 60, 60);
	--copy-color: rgb(150, 150, 150);
}

a:hover {
	filter: brightness(0.9);
}

img {
	filter: invert(0);
}
