* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	color: white;
	transition: 0.2s;
}
body {
	background-color: rgb(42, 42, 42);
	display: flex;
	justify-content: center;
	user-select: none;
}
html,
body {
	height: 100%;
	margin: 0;
}

.container {
	font-family: "Segoe UI", sans-serif;
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 30px;
	overflow: auto;
}

controls {
	margin-top: 0px;
	border-radius: 10px;
	transition: 0.5s;
	width: 100px;
	height: 50px;
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(5px);
}
.controls {
	margin: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.margin-settings {
	margin-top: 350px;
}
.margin-add {
	margin-top: 250px;
}
img {
	-webkit-user-drag: none;
}
.control {
	display: flex;
	padding: 4px;
	height: 31px;
	width: 31px;
	border-radius: 15.5px;
	font-size: 20px;
}
.control:hover {
	background-color: rgb(60, 60, 60);
	cursor: pointer;
	color: rgb(200, 200, 200);
}

.settings-header {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
	text-align: left;
}

.rotate {
	font-size: 20px;
	transform: rotate(45deg);
}

/**** Add icon*/
.add {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.add-div {
	display: flex;
	flex-direction: row;
	padding: 20px;
	padding-bottom: 5px;
}

#pass-div {
	display: flex;
	flex-direction: row;
	margin: 0;
}
.settings {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.2s ease-out;
}

.settings-buttonsToggle {
	border-right: 1px solid white;
	transition: 0.2s ease-out;
}
menu {
	opacity: 0;
	transform: translateY(-100%);
	transition: 0.4s;
}
.settings-body {
	display: flex;
	flex-direction: row;
}
.settings-buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-right: none;
	width: 180px;
	margin-right: 40px;
	z-index: 4;
	transition: 0.5s ease-out;
}

/****** Menu Animation*/
.togglemenus {
	opacity: 1;
	transform: translateY(0%);
	transition: 0.3s ease-out;
}
.toggleSettings {
	background-color: rgb(50, 50, 50, 0.4);
	height: 311px;
	transition: 0.25s ease-out;
	margin-top: 20px;
	width: 500px;
}
.toggleAdd {
	background-color: rgb(50, 50, 50, 0.4);
	height: 210px;
	transition: 0.25s ease-out;
	margin-top: 20px;
	min-width: 500px;
}

/***** password */
.password-parameters {
	display: flex;
	flex-direction: column;
}

button {
	padding: 5px;
	background-color: rgb(52, 99, 202);
	margin: 10px;
	border-radius: 5px;
	height: 30px;
}
.button-header {
	background-color: transparent;
	border-left: 4px solid transparent;
	margin: 0;
	border-radius: 0;

	width: 100%;
	text-align: left;
	height: 30px;
	margin-bottom: 10px;
	color: rgb(200, 200, 200);
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
.button-header-active {
	border-left: 4px solid rgb(52, 99, 202);
	transition: 0.1s;
	color: white;
}
button:hover {
	cursor: pointer;
	color: white;
}

.settings-parameters {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	transform: translateX(-100%);
	transition: 0.3s;
	opacity: 0;
}
.settingsToggle {
	opacity: 1;
	transform: translateX(0%);
	transition: 0.2s ease-out;
}
input {
	margin: 5px;
	padding: 5px;
	background-color: transparent;
	height: 30px;
	color: white;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	transition: 0.4s;
}
input:hover,
input:focus {
	border-color: rgb(52, 99, 202);
}
.noerror {
	font-size: 14px;
	color: transparent;

	height: 0px;
}
.error {
	color: rgb(252, 61, 61);
	height: 18px;
}

/**** Lock */
.lock-parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.disabled {
	background-color: rgb(252, 61, 61);
}

table {
	margin-top: 50px;
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
}
table,
td {
	border-collapse: collapse;
}
.gridlinesOn {
	border: 1px solid white;
}
td {
	padding: 5px;
}

.header {
	font-weight: bold;
	border-bottom: 2px solid white;
	position: sticky;
}

.header p {
	margin: 5px;
}
#password {
	user-select: none;
}

/******** Add input*/

/*** Add button*/
.add-button {
	margin: 5px;
	padding: 5px;
	width: 100%;
}

/**** Responsive */
@media only screen and (max-width: 1200px) {
	.toggleAdd {
		height: 340px;
		width: 25%;
	}

	.add-div {
		flex-direction: column;
		width: 100%;
	}
	input {
		width: 100%;
	}

	.controlsSpan {
		height: 360px;
	}
	.margin-add {
		margin-top: 375px;
	}
}

table tr:not(:first-child):hover {
	background-color: rgb(59, 59, 59);
	box-shadow: 4px 1px 5px rgb(37, 37, 37);
}
table tr:not(:first-child) td:hover {
	background-color: rgb(87, 87, 87);
}
table.data:not(.tr-header) {
	flex-direction: column-reverse;
}
.hide-show {
	text-align: center;
	cursor: pointer;
	padding: 2px;
	border-radius: 0 2px 2px 0;
	height: 26px;
	width: 26px;
}
.hide-show:hover {
	background-color: rgb(60, 60, 60);
}
.hide-show:active {
	transform: scale(0.97);
}
#add-password {
	width: 95%;
	border: 0;
	margin: 0;
}
#add-pass {
	width: 100%;
	margin: 5px;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	height: 30px;
	display: flex;
	flex-direction: row;
}

span#cell-control {
	padding: 6px;
	cursor: pointer;
	height: 28px;
	width: 28px;
}
#cell-control:hover {
	background-color: rgb(87, 87, 87);
}
td#controls:hover {
	background-color: transparent;
}
.table-input {
	border: none;
	height: 100%;
	width: 100%;
	margin: 0;
}
.table-input:focus {
	background-color: rgb(87, 87, 87);
}
