* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	color: white;
}
body {
	background-color: rgb(42, 42, 42);
	display: flex;
  justify-content: center;
  user-select: none;
}
html,
body {
	height: 100%;
  margin: 0;
}

.container {
	font-family: "Segoe UI", sans-serif;
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 30px;
	overflow: auto;
}

controls {
	margin-top: 0px;
	border-radius: 10px;
	transition: 0.5s;
	width: 100px;
  height: 50px;
  width: 75%;
  max-width: 1000px;
  min-width: 600px;
}
.controls {
	margin: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.control {
	display: flex;
	padding: 4px;
	height: 100%;
	width: 30px;
	border-radius: 15px;
	transition: 0.2s;
}
.control:hover {
	background-color: rgb(60, 60, 60);
	cursor: pointer;
	color: rgb(200, 200, 200);
}

.settings-header {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
	text-align: left;
}

.rotate {
	transform: rotate(45deg);
	transition: 0.2s;
}

/**** Add icon*/
.add {
  padding-left: 20px;
	padding-right: 20px;
}
.add-div {
  display: flex;
  flex-direction: row;
  padding: 20px;
}
.settings {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
  display: flex;
	flex-direction: column;
	justify-content: center;
	transition: 0.2s ease-out;
}

.settings-buttonsToggle {
	border-right: 1px solid white;
	transition: 0.2s ease-out;
}
menu {
	opacity: 0;
	transform: translateY(-100%);
	transition: 0.4s;
}
.settings-body {
	display: flex;
	flex-direction: row;
}
.settings-buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-right: none;
	width: 180px;
	margin-right: 40px;
	z-index: 4;
	transition: 0.5s ease-out;
}

/****** Menu Animation*/
.togglemenus {
	opacity: 1;
	transform: translateY(0%);
	transition: 0.3s ease-out;
}
.toggleSettings {
	background-color: rgb(50, 50, 50);
	height: 311px;
	transition: 0.25s ease-out;
  margin-top: 20px;
  width: 500px;
}
.toggleAdd {
  background-color: rgb(50, 50, 50);
	height: 190px;
	transition: 0.25s ease-out;
  margin-top: 20px;
  min-width: 500px;

}

/***** password */
.password-parameters {
	display: flex;
	flex-direction: column;
}

button {
	padding: 5px;
	background-color: rgb(52, 99, 202);
	margin: 10px;
	border-radius: 5px;
	height: 30px;
}
.button-header {
	background-color: transparent;
	border-left: 4px solid transparent;
	margin: 0;
	border-radius: 0;
	transition: 0.2s;
	width: 100%;
	text-align: left;
	height: 30px;
	margin-bottom: 10px;
	color: rgb(200, 200, 200);
}

.button-header-active {
	border-left: 4px solid rgb(52, 99, 202);
	transition: 0.1s;
	color: white;
}
button:hover {
	cursor: pointer;
	color: white;
}

.settings-parameters {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 180px;
	transform: translateX(-100%);
	transition: 0.3s;
	opacity: 0;
}
.settingsToggle {
	opacity: 1;
	transform: translateX(0%);
	transition: 0.2s ease-out;
}
input { 
	margin: 5px;
	padding: 5px;
	background-color: transparent;
	height: 30px;
	color: white;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	transition: 0.4s;
}
input:hover, input:focus {
	border-color: rgb(52, 99, 202);
	transition: 0.2s;
}
.noerror {
	font-size: 14px;
	color: transparent;
	transition: 0.2s;
	height: 0px;
}
.error {
	color: rgb(252, 61, 61);
	transition: 0.2s;
	height: 18px;
}

/**** Lock */
.lock-parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.disabled {
	background-color: rgb(252, 61, 61);
}

table {
	margin-top: 30px;
	width: 75%;
	max-width: 1000px;
  min-width: 600px;
  user-select: auto;
}
table,
td {
	border-collapse: collapse;
}
.gridlinesOn {
	border: 1px solid white;
}
td {
	padding: 5px;
}

.header {
	font-weight: bold;
	border-bottom: 2px solid white;
	position: sticky;
}

.header p {
	margin: 5px;
}
#password {
  user-select: none;
}

/******** Add input*/

/*** Add button*/
.add-button {
  margin: 5px;
  padding: 5px;
  width: 100%
}

/**** Responsive */
@media only screen and (max-width: 1200px) {
  .toggleAdd {
    height: 500px;
    width: 25%;
    transition: 0.2s;
  }
  .add-div {
    flex-direction: column;
    transition: 0.2s;
  }
}