panel.toggleAdd {
	margin-top: 20px;
	height: 215px;
	background: var(--toggle-controls);
}
#thead.toggleAdd {
	padding-top: 240px !important;
}

form.add-container {
  width: 100%;
}
.add-input {
  width: 48%;
  margin: 3px;
}


/**** Add icon*/
.add {
  padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.add-container {
  display: flex;
	flex-direction: row;
	padding-bottom: 5px;
	width: 100%;
  flex-wrap: wrap;
}
