/** Global Settings **/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	transition: 0.2s ease-out;
	backface-visibility: hidden;
	-webkit-user-drag: none;
}
html, body {
	height: 100%;
}
body {
	font-family: "Segoe UI", sans-serif;
	background: var(--body);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	user-select: none;
	overflow: hidden;
}

/** app **/
.app {
	margin-top: 30px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
}

.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.control {
	display: flex;
	padding: 5px;
	height: 30px;
	width: 30px;
	border-radius: 15.5px;
	font-size: 20px;
}
.control:hover {
	background: var(--primary-hover);
	cursor: pointer;
}
a {
	color: var(--primary-a);
}

/* password */
.password-parameters {
	display: flex;
	flex-direction: column;
}
.settings-parameters-header {
	display: flex;
	flex-direction: row;
	align-items: left;
}
.settings-parameters-header p {
	font-size: 24px;
}

button {
	background: var(--primary-button);
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	height: 30px;
	color: var(--primary-color);
	cursor: pointer;
}
button:hover {
	color: var(--secondary-color);
	background-color: var(--secondary-button);
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
input {
	margin: 5px;
	padding: 5px;
	background: transparent;
	font-family: "Segoe UI", sans-serif;
	font-size: 14px;
	color: var(--secondary-color);
}
input:hover {
	border-bottom-color: var(--primary-accent);
}
input:focus {
	border-color: var(--primary-accent);
}

/*** Add button*/
.add-button {
	margin: 5px;
	padding: 5px;
	width: 100%;
}


.margin-settings {
	padding-top: 380px !important;
}

.save {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 100px;
	animation: button-slide-in 0.3s ease-out;
}

.button-slide-out {
	animation: button-slide-out 0.3s ease-out !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}

@keyframes button-slide-in {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

@keyframes button-slide-out {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}