overlay {
  backdrop-filter: brightness(0.8);
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.window {
  background: var(--primary-background);
  min-width: 500px;
  min-height: 200px;
  max-width: 90%;
  border-radius: 0.7em;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-border);
  box-shadow: -2px 2px 5px var(--primary-shadow);
}

.title-bar {
  backdrop-filter: brightness(0.8);
  width: 100%;
  height: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-bar-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-left: 0.5em;
}
.window-title {
  margin-left: 1em;
  font-size: 14px;
}
.window-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 40px;
  border-radius: 0 0.7em 0 0;
}
.window-controls:hover {
  background: rgb(200, 50, 50);
  transition: background 0.1s ease-out;
}
.window-close {
  width: 10px;
}
.popup {
  animation: popup-draw-in 0.2s ease-out;
}
@keyframes popup-draw-in {
  0% {
    transform: scale(0.95);
    opacity: 0;
  }
  60% {
    transform: scale(1.02);
  }
}

.popup.popup-draw-out {
  transform: scale(0.95);
  opacity: 0;
}
overlay.popup-draw-out {
  backdrop-filter: brightness(1);
}

.window-icon.rotate {
  animation: rotate-icon 1.2s linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-icon {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}