/** Global Settings **/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	transition: 0.2s ease-out;
	backface-visibility: hidden;
	perspective: 1000;
}
html,
body {
	height: 100%;
	margin: 0;
}
body {
	font-family: "Segoe UI", sans-serif;
	background: var(--body);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	user-select: none;
	overflow: hidden;
}
html,
body {
	height: 100%;
	margin: 0;
}
/** Scrollbar **/
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}
/** Loading Menu **/
.overlay {
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.dialog-box {
	background: rgb(50, 50, 50);
	border-radius: 10px;
	animation: dialog-box-draw-in 0.2s ease-out;
}
@keyframes dialog-box-draw-in {
	0% {
		transform: scale(1.4);
		opacity: 0;
	}
}
.dialog-box-close {
	transform: scale(1.4);
	opacity: 0;
}
.container-freeze {
	filter: grayscale(1);
}

.dialog-box-title {
	padding: 10px;
	border-radius: 10px 10px 0 0;
	width: 100%;
	background: rgb(40, 40, 40);
	text-transform: uppercase;
}
.dialog-box-prompt {
	padding: 10px;
	color: lightgray;
}
.dialog-box-button {
	width: calc(100% - 20px);
	height: 40px;
}

/** Loading Menu **/
.loading-overlay {
	background: var(--body);
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.loading-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading-icons {
	height: 120px;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: scale(1.5);
}
.loading-icon {
	position: relative;
}
#loading-cog {
	animation: rotation 1.5s infinite;
	top: -90px;
	left: -2px;
}
.loading-msg {
	margin-top: 20px;
	height: 40px;
	font-size: 22px;
}
.loading-overlay-draw-out {
	opacity: 0;
	transform: scale3d(1.5, 1.5, 1.5);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	will-change: transform, opacity;
}

/** container **/
.container {
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 30px;
	overflow: auto;
}

/** controls **/
panel {
	margin-top: 0px;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(10px);
}
controls {
	margin: 8px;
	margin-bottom: 0;
	display: flex;
	height: 45px;
	justify-content: flex-end;
	align-items: center;
}

.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
/** icon settings **/
img {
	-webkit-user-drag: none;
}
.control {
	display: flex;
	padding: 5px;
	height: 30px;
	width: 30px;
	border-radius: 15.5px;
	font-size: 20px;
}
.control:hover {
	background: var(--primary-hover);
	cursor: pointer;
}

.settings-header {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-transform: uppercase;
}
/** rotate icon in each menu **/
.rotate {
	font-size: 20px;
	transform: rotate(45deg);
}

/**** Add icon*/
.add {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.add-div {
	display: flex;
	flex-direction: row;
	padding: 20px;
	padding-bottom: 5px;
}

#pass-div,
#change-password-input-div {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 1px;
}
.settings {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

menu {
	margin: 8px;
	margin-top: 0;
	opacity: 0;
	transform: translateY(-100%);
}
.menu-down {
	opacity: 1;
	transform: translateY(0%);
}
.settings-body {
	display: flex;
	flex-direction: row;
}
.settings-buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-right: none;
	width: 180px;
	margin-right: 40px;
	z-index: 4;
}
.control:active:not(input#control) {
	transform: scale(0.9);
	transition: 0.1s;
}

/****** Menu Animation*/
.toggleSettings {
	height: 355px;
	margin-top: 20px;
	width: 500px;
	background: var(--toggle-controls);
}

.toggleAbout {
	width: 340px !important;
	display: block !important;
	margin-top: 10px !important;
	height: 200px;
	padding-right: 5px;
}
.settings-parameters::-webkit-scrollbar {
	width: 7px;
}
a {
	color: var(--primary-a);
}

.toggleAdd {
	height: 215px;
	margin-top: 20px;
	min-width: 500px;
	background: var(--toggle-controls);
}
input.control:hover {
	background-color: transparent;
	cursor: unset;
}
input.control {
	opacity: 0;
	width: 0;
	height: auto;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
input.toggleSearch {
	border-radius: 10px;
	opacity: 1 !important;
	margin: 5px !important;
	padding: 5px !important;
	width: calc(100% - 120px) !important;
	border: 2px solid var(--primary-input) !important;
}
input.toggleSearch:hover {
	border-bottom-color: var(--secondary-input) !important;
}
input.toggleSearch:focus {
	border-color: var(--secondary-input) !important;
}

div.toggleSearch {
	transform: rotate(-90deg);
}
dropDown {
	position: fixed;
	top: 50px;
	transform: translateX(-10%);
}
dropDown,
.drop-down {
	width: 150px;
}
.drop-down {
	background: var(--toggle-controls-opaque);
	border-radius: 20px;
	padding: 15px;
}
/* The container */
.label {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 18px;
	text-transform: capitalize;
	border-radius: 10px;
	width: 150px;
}

/* Hide the browser's default checkbox */
.label input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: var(--primary-checkbox);
	border-radius: 10px;
}
/* On mouse-over, add a grey background color */
.label:hover input ~ .checkmark {
	filter: brightness(0.9);
	transform: scale(1.15);
	transition: 0.1s;
}
.label:active input ~ .checkmark {
	filter: brightness(1.1);
	transform: scale(0.85);
	transition: 0.1s;
}

/* When the checkbox is checked, add a blue background */
.label input:checked ~ .checkmark {
	background-color: var(--secondary-checkbox);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.label input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.label .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
div.no-match {
	height: 0 !important;
	opacity: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	background-color: rgb(200, 50, 50) !important;
}

/***** password */
.password-parameters {
	display: flex;
	flex-direction: column;
}
.settings-parameters-header {
	display: flex;
	flex-direction: row;
	align-items: left;
}
.settings-parameters-header p {
	font-size: 24px;
}

.settings-sub-body-header {
	font-size: 16px;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
}
.settings-header-text {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}
.settings-sub-body {
	font-size: 14px;
}
button {
	background: var(--primary-button);
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	height: 30px;
	color: var(--primary-color);
}
button:not(.button-header):hover {
	color: var(--secondary-color);
	background-color: var(--secondary-button);
}
.button-header {
	background: transparent;
	border-left: 4px solid transparent;
	margin: 0;
	border-radius: 0;
	color: var(--secondary-color);
	width: 100%;
	text-align: left;
	height: 30px;
	margin-bottom: 10px;
}

.button-header:hover {
	color: var(--tertiary-color);
}
.button-header-active {
	border-left: 4px solid var(--secondary-button) !important;
	color: var(--primary-color);
	transition: 0.1s;
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
button:hover {
	cursor: pointer;
	color: var(--secondary-color);
}

.settings-parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
	transform: translateX(-100%);
	opacity: 0;
	height: 233px;
	padding: 10px;
	overflow: auto;
}
.settingsToggle {
	opacity: 1;
	transform: translateX(0%);
}
input {
	margin: 5px;
	padding: 5px;
	background: transparent;
	border: 2px solid var(--primary-input);
	font-family: "Segoe UI", sans-serif;

	border-radius: 5px;
	color: var(--secondary-color);
}
input:hover {
	border-bottom-color: var(--secondary-input);
}
input:focus {
	border-color: var(--secondary-input);
}
.noerror {
	font-size: 11px;
	color: transparent;
	height: 0px;
}
.error {
	color: rgb(252, 61, 61);
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
}
.confirm {
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
	color: var(--primary-green);
}
.change-password-confirm {
	width: calc(100% - 20px);
}
/**** Lock */
.lock-param {
	height: 30px;
	width: calc(100% - 10px);
}
.disabled {
	background: rgb(252, 61, 61);
}

#tbody cell {
	padding: 5px;
	height: 35px;
}
.tr-edit {
	height: 55px;
}
#tr div input {
	text-align: center;
}
.tr-edit div input {
	animation: glide-in 0.2s ease-out;
}

@keyframes glide-in {
	from {
		border-width: 0;
		font-size: 16px;
		transform: translate(3px, -7px);
	}
}
.header {
	font-weight: bold;
	position: sticky;
}

.header p {
	margin: 5px;
}

/******** Add input*/

/*** Add button*/
.add-button {
	margin: 5px;
	padding: 5px;
	width: 100%;
}

.tbody-data {
	display: flex;
	flex-direction: column-reverse;
}
/** Table **/
#table {
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	display: flex;
	flex-direction: column;
	animation: slide-in 0.15s ease-out;
}
.margin-settings {
	padding-top: 380px !important;
}
.margin-add {
	padding-top: 250px !important;
}
#hide-show {
	width: 100px;
}

.hide-show,
hideShow.change-password {
	text-align: center;
	cursor: pointer;
	padding: 2px;
	border-radius: 0 2px 2px 0;
	height: 26px;
	width: 26px;
}

.hide-show:active,
hideShow.change-password:active {
	transform: scale(0.97);
}
#add-password,
input.change-password {
	width: 95%;
	border: 0;
	margin: 0;
	border: 1px solid transparent;
}

#add-pass,
#change-password-input-div {
	width: 100%;
	margin: 5px;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	height: 30px;
	display: flex;
	flex-direction: row;
}
.pass-div#add-pass:hover,
#change-password-input-div:hover {
	border-bottom-color: var(--secondary-input);
}
.pass-div#add-pass:focus-within,
#change-password-input-div:focus-within {
	border-color: var(--secondary-input);
}
#cell-edit,
#cell-showHide,
#cell-delete {
	padding: 6px;
	cursor: pointer;
	height: 28px;
	border-radius: 5px;
}
#tbody #tr #cell-edit:active,
#tbody #tr #cell-showHide:active,
#tbody #tr #cell-delete:active {
	transform: scale(0.85);
	transition: 0.1s ease-out;
}
#controls {
	display: flex;
	flex-direction: row;
}

.padding-zero {
	padding: 0;
}

@keyframes slide-in {
	0% {
		transform: translateY(-48px);
		opacity: 0;
	}
}

.tbody-data div {
	animation: slide-in 0.25s ease-out;
	padding: 5px;
}

.tbody-data #tr:hover {
	background: var(--row-hover);
}
.tbody-animation {
	animation: slide-in 0.25s ease-out;
}

#table-type,
#table-service,
#table-email,
#table-password {
	width: calc(100% - 5px);
	margin: 2px;
}

#thead {
	padding-top: 60px;
	position: sticky;
	top: 0;
	backdrop-filter: blur(5px);
	z-index: 1;
	border-bottom: var(--primary-thead-border);
}
#type,
#service,
#email,
#password {
	width: calc(25%);
	text-align: center;
	overflow: hidden;
	overflow-x: visible;
	border-radius: 5px !important;
	display: flex;
	flex-direction: column;
}
#type,
#service {
	text-transform: capitalize;
}
#password {
	user-select: none;
	overflow-x: hidden !important;
}
#password #password-content:not(.edit-on) {
	overflow: auto hidden;
	height: 35px;
}
#password div {
	padding: 1px;
}
#strength-text {
	font-size: 10px;
	text-align: left;
	padding-bottom: 1px;
}
#strength-bar {
	height: 4px;
	border-radius: 2px;
	padding: 0;
}
#tbody #type:active,
#tbody #service:active,
#tbody #email:active,
#tbody #password:active {
	transform: scale(0.9);
	transition: 0.1s ease-out;
}
#tbody .tr-edit #type:active,
#tbody .tr-edit #service:active,
#tbody .tr-edit #email:active,
#tbody .tr-edit #password:active {
	transform: scale(1);
}

.hide-show:hover,
hideShow.change-password:hover {
	background: var(--cell-hover);
}
#type:hover:not(.header),
#service:hover:not(.header),
#email:hover:not(.header),
#password:hover:not(.header),
#cell-edit:hover,
#cell-showHide:hover,
#cell-delete:hover {
	background: var(--cell-hover);
}

#tbody .tr-edit #type:hover,
#tbody .tr-edit #service:hover,
#tbody .tr-edit #email:hover,
#tbody .tr-edit #password:hover {
	background: transparent;
}

#type::-webkit-scrollbar,
#service::-webkit-scrollbar,
#email::-webkit-scrollbar,
#password #password-content::-webkit-scrollbar {
	height: 7px;
	border-radius: 5px;
}

.header {
	padding: 5px;
	height: 35px;
}
#tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: tr-draw-in 0.25s ease-out;
	border-radius: 5px;
}
.tbody-data #tr {
	height: 80px;
}
@keyframes tr-draw-in {
	0% {
		transform: scale(0.5);
	}
}
/******* draw out animation*/
.draw-out-animation {
	animation: tr-draw-out 0.3s ease-in !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}
@keyframes tr-draw-out {
	0% {
		opacity: 0;
		transform: scale(0.2) translateY(-48px);
		height: 0;
	}
}
.toast {
	font-size: 12px;
	background: none;
	width: 130px;
	padding: 10px;
	margin: 20px;
	border-radius: 20px;
	animation: copy-slide-in 1.5s ease-out;
	color: var(--primary-color);
	background: var(--secondary-background);
	position: fixed;
	bottom: 0;
	left: calc(50% - 85px);
	animation-fill-mode: forwards;
}

@keyframes copy-slide-in {
	0% {
		transform: translateY(100%);
		opacity: 0;
	}
	10% {
		transform: translateY(-20%);
		opacity: 1;
	}
	15% {
		transform: translateY(0%);
	}
	85% {
		transform: translateY(0%);
	}
	90% {
		transform: translateY(-20%);
		opacity: 1;
	}
	100% {
		transform: translateY(100%);
		opacity: 0;
	}
}

.save {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 100px;
	animation: button-slide-in 0.3s ease-out;
}

.button-slide-out {
	animation: button-slide-out 0.3s ease-out !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}

@keyframes button-slide-in {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

@keyframes button-slide-out {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

.header-icon {
	margin-right: 10px;
}

.settings-header img {
	animation: rotation 2s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes rotation {
	100% {
		transform: rotate(360deg);
	}
}
/** gridlines **/
.gridlinesOn {
	border: 1px solid var(--primary-color);
}
#window-controls .button:hover {
	background: (--primary-hover);
}
/**** Responsive */
@media only screen and (max-width: 1200px) {
	.toggleAdd {
		height: 270px;
		width: 25%;
	}

	.add-div {
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	.add-div input,
	.pass-div#add-pass {
		width: 47.5%;
	}

	.controlsSpan {
		height: 280px;
	}
	.margin-add {
		padding-top: 320px !important;
	}
}

#service-icon {
	width: 20px;
	margin: 5px;
	border-radius: 5px;
}
#service-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

/** change password **/
placeholder {
	font-size: 12px;
}
