/** Global Settings **/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	transition: 0.2s ease-out;
	backface-visibility: hidden;
}
html,
body {
	height: 100%;
	margin: 0;
}
body {
	font-family: "Segoe UI", sans-serif;
	background: var(--body);
	color: var(--primary-color);
	display: flex;
	justify-content: center;
	user-select: none;
	overflow: hidden;
}
html,
body {
	height: 100%;
	margin: 0;
}

/** Loading Menu **/
.overlay {
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	backdrop-filter: brightness(0.8) grayscale(0.5);
}

/** Loading Menu **/
.loading-overlay {
	background: var(--body);
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.loading-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading-icons {
	height: 120px;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: scale(1.5);
}
.loading-icon {
	position: relative;
}
#loading-cog {
	animation: rotation 1.5s infinite;
	top: -90px;
	left: -2px;
}
.loading-msg {
	margin-top: 20px;
	height: 40px;
	font-size: 22px;
}
.loading-overlay-draw-out {
	opacity: 0;
	transform: scale3d(1.5, 1.5, 1.5);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
	will-change: transform, opacity;
}

/** container **/
.container {
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 30px;
	overflow-x: hidden;
	overflow-y: scroll;
}



.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
/** icon settings **/
img {
	-webkit-user-drag: none;
}
.control {
	display: flex;
	padding: 5px;
	height: 30px;
	width: 30px;
	border-radius: 15.5px;
	font-size: 20px;
}
.control:hover {
	background: var(--primary-hover);
	cursor: pointer;
}



/**** Add icon*/
.add {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.add-div {
	display: flex;
	flex-direction: row;
	padding-bottom: 5px;
	width: 100%;
	flex-wrap: wrap;
}




.control:active:not(input#control) {
	transform: scale(0.9);
	transition: 0.1s;
}

.toggleAbout {
	width: 404px !important;
	display: block !important;
	margin-top: 10px !important;
	height: 200px;
	padding-right: 5px;
	backdrop-filter: brightness(0.8);
}
.settings-parameters::-webkit-scrollbar {
	width: 7px;
}
a {
	color: var(--primary-a);
}

panel.toggleAdd {
	margin-top: 20px;
	height: 200px;
	width: 25%;
	background: var(--toggle-controls);
}
#thead.toggleAdd {
	padding-top: 240px !important;
}
panel.controlsSpan {
	height: 218px;
}
input.control:hover {
	background-color: transparent;
	cursor: unset;
}
input.control {
	opacity: 0;
	width: 0;
	height: auto;
	border: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
input.toggleSearch {
	border-radius: 10px;
	opacity: 1 !important;
	margin: 5px !important;
	padding: 5px !important;
	width: calc(100% - 120px) !important;
	border: 2px solid var(--primary-input) !important;
}
input.toggleSearch:hover {
	border-bottom-color: var(--primary-accent) !important;
}
input.toggleSearch:focus {
	border-color: var(--primary-accent) !important;
}

img.toggleSearch {
	transform: rotate(-90deg);
}
div.no-match {
	height: 0 !important;
	opacity: 0 !important;
	padding: 0 !important;
	border: none !important;
	transform: scaleY(0) !important;
	background-color: rgb(200, 50, 50) !important;
}

/***** password */
.password-parameters {
	display: flex;
	flex-direction: column;
}
.settings-parameters-header {
	display: flex;
	flex-direction: row;
	align-items: left;
}
.settings-parameters-header p {
	font-size: 24px;
}

button {
	background: var(--primary-button);
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	height: 30px;
	color: var(--primary-color);
}
button:hover {
	color: var(--secondary-color);
	background-color: var(--secondary-button);
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
button:hover {
	cursor: pointer;
	color: var(--secondary-color);
}

.settings-parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 233px;
	padding: 10px;
	overflow: auto;
	width: 70%;
}
input {
	margin: 5px;
	padding: 5px;
	background: transparent;
	border: 2px solid var(--primary-input);
	font-family: "Segoe UI", sans-serif;

	border-radius: 5px;
	color: var(--secondary-color);
}
input:hover {
	border-bottom-color: var(--primary-accent);
}
input:focus {
	border-color: var(--primary-accent);
}
.noerror {
	font-size: 12px;
	color: transparent;
	height: 0px;
}
.error {
	color: rgb(252, 61, 61);
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
}
.confirm {
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
	color: var(--primary-green);
}
.change-password-confirm {
	width: calc(100% - 20px);
}
/**** Lock */
.lock-param {
	height: 30px;
	width: calc(100% - 10px);
}
.disabled {
	background: rgb(252, 61, 61);
}

#tbody cell {
	padding: 5px;
	height: 35px;
}
.tr-edit {
	height: 55px;
}
#tr div input {
	text-align: center;
}
.tr-edit div input {
	animation: glide-in 0.2s ease-out;
}

@keyframes glide-in {
	from {
		border-width: 0;
		font-size: 16px;
		transform: translate(3px, -7px);
	}
}
.header {
	font-weight: bold;
	position: sticky;
}

.header p {
	margin: 5px;
}

/******** Add input*/

/*** Add button*/
.add-button {
	margin: 5px;
	padding: 5px;
	width: 100%;
}

.tbody-data {
	display: flex;
	flex-direction: column-reverse;
}
/** Table **/
#table {
	width: 90%;
	max-width: 1500px;
	min-width: 600px;
	display: flex;
	flex-direction: column;
	animation: slide-in 0.15s ease-out;
}
.margin-settings {
	padding-top: 380px !important;
}


#cell-edit,
#cell-showHide,
#cell-delete {
	padding: 6px;
	cursor: pointer;
	height: 28px;
	border-radius: 5px;
	position: relative;
}
#tbody #tr #cell-edit:active,
#tbody #tr #cell-showHide:active,
#tbody #tr #cell-delete:active {
	transform: scale(0.85);
	transition: 0.1s ease-out;
}
#controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.padding-zero {
	padding: 0;
}

@keyframes slide-in {
	0% {
		transform: translateY(-48px);
		opacity: 0;
	}
}

.tbody-data div {
	animation: slide-in 0.25s ease-out;
	padding: 5px;
}

.tbody-data #tr:hover {
	background: var(--row-hover);
}
.tbody-animation {
	animation: slide-in 0.25s ease-out;
}

#table-type,
#table-service,
#table-email,
#table-password {
	width: calc(100% - 5px);
	margin: 2px;
}

#thead {
	padding-top: 70px;
	position: sticky;
	top: 0;
	backdrop-filter: blur(5px);
	border-bottom: var(--primary-thead-border);
	z-index: 1; /* Important for blur affect to cover controls column*/
}
#type,
#service,
#email,
#password {
	width: calc(25%);
	text-align: center;
	overflow: hidden;
	overflow-x: visible;
	border-radius: 5px !important;
	display: flex;
	flex-direction: column;
}
#type {
	text-transform: capitalize;
}
#password {
	user-select: none;
	overflow-x: hidden !important;
}
#password #password-content:not(.edit-on) {
	overflow: auto hidden;
	height: 35px;
}
#password div {
	padding: 1px;
}
#strength-text {
	font-size: 10px;
	text-align: left;
	padding-bottom: 1px;
}
#strength-bar {
	height: 4px;
	border-radius: 2px;
	padding: 0;
}
#tbody #type:active,
#tbody #service:active,
#tbody #email:active,
#tbody #password:active {
	transform: scale(0.9);
	transition: 0.1s ease-out;
}
#tbody .tr-edit #type:active,
#tbody .tr-edit #service:active,
#tbody .tr-edit #email:active,
#tbody .tr-edit #password:active {
	transform: scale(1);
}


#type:hover:not(.header),
#service:hover:not(.header),
#email:hover:not(.header),
#password:hover:not(.header),
#cell-edit:hover,
#cell-showHide:hover,
#cell-delete:hover {
	background: var(--cell-hover);
}

#tbody .tr-edit #type:hover,
#tbody .tr-edit #service:hover,
#tbody .tr-edit #email:hover,
#tbody .tr-edit #password:hover {
	background: transparent;
}

#type::-webkit-scrollbar,
#service::-webkit-scrollbar,
#email::-webkit-scrollbar,
#password #password-content::-webkit-scrollbar {
	height: 7px;
	border-radius: 5px;
}

.header {
	padding: 5px;
	height: 35px;
}
#tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: tr-draw-in 0.25s ease-out;
	border-radius: 5px;
	border: 1px solid transparent;
}
.tbody-data #tr {
	height: 80px;
}
@keyframes tr-draw-in {
	0% {
		transform: scale(0.5);
	}
}
/******* draw out animation*/
.draw-out-animation {
	animation: tr-draw-out 0.3s ease-in !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}
@keyframes tr-draw-out {
	0% {
		opacity: 0;
		transform: scale(0.2) translateY(-48px);
		height: 0;
	}
}
.toast {
	font-size: 12px;
	background: none;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 20px;
	max-height: 100px;
	max-width: 80%;
	animation: toast-slide-in 1.5s ease-out;
	color: var(--primary-color);
	background: var(--secondary-background);
	position: fixed;
	bottom: 0;
	left: 50%;
	word-break: break-all;
	transform: translateX(-50%);
	animation-fill-mode: forwards;
}

@keyframes toast-slide-in {
	0% {
		transform: translate(-50%, 100%);
		opacity: 0;
	}
	10% {
		transform: translate(-50%, -20%);
		opacity: 1;
	}
	15% {
		transform: translate(-50%, 0%);
	}
	85% {
		transform: translate(-50%, 0%);
	}
	90% {
		transform: translate(-50%, -20%);
		opacity: 1;
	}
	100% {
		transform: translate(-50%, 100%);
		opacity: 0;
	}
}

.save {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 100px;
	animation: button-slide-in 0.3s ease-out;
}

.button-slide-out {
	animation: button-slide-out 0.3s ease-out !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}

@keyframes button-slide-in {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

@keyframes button-slide-out {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}


/** gridlines **/
#tr.gridlinesOn {
	border-color: var(--secondary-color) !important;
}
#window-controls .button:hover {
	background: (--primary-hover);
}


#service-icon {
	width: 20px;
	margin: 5px;
	border-radius: 5px;
}
#service-content {
	display: flex;
	align-items: center;
	justify-content: center;
}


