/** Global Settings **/
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	transition: 0.2s ease-out;
	will-change: transform;
}
html,
body {
	height: 100%;
	margin: 0;
}
body {
	background-color: var(--body);
	color: var(--primary-color);
	font-family: "Segoe UI", sans-serif;
	display: flex;
	justify-content: center;
	user-select: none;
	overflow: hidden;
}
html,
body {
	height: 100%;
	margin: 0;
}
/** Scrollbar **/
::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--scrollbar-thumb-hover);
}
/** Loading Menu **/
.overlay {
	position: fixed;
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
}
.dialog-box {
	background: rgb(50, 50, 50);
	border-radius: 10px;
	animation: dialog-box-draw-in 0.2s ease-out;
}
@keyframes dialog-box-draw-in {
	0% {
		transform: scale(1.4);
		opacity: 0;
	}
}
.dialog-box-close {
	transform: scale(1.4);
	opacity: 0;
}
.container-freeze {
	filter: blur(8px);
	transform: scale(1.3);
}

.dialog-box-title {
	padding: 10px;
	border-radius: 10px 10px 0 0;
	width: 100%;
	background: rgb(40, 40, 40);
	text-transform: uppercase;
}
.dialog-box-prompt {
	padding: 10px;
	color: lightgray;
}
.dialog-box-button {
	width: calc(100% - 20px);
	height: 40px;
}

/** Loading Menu **/
.loading-overlay {
	background-color: var(--body);
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
}
.loading-container {
	display: flex;
	width: 100%;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.loading-icons {
	height: 120px;
	display: flex;
	align-items: center;
	flex-direction: column;
	transform: scale(1.5);
}
.loading-icon {
	position: relative;
}
#loading-cog {
	animation: rotation 1.5s infinite;
	top: -90px;
	left: -2px;
}
.loading-msg {
	margin-top: 20px;
	height: 40px;
	font-size: 22px;
}
.loading-overlay-draw-out {
	animation: draw-out-loading-screen 0.3s ease-out;
	animation-fill-mode: forwards;
}
@keyframes draw-out-loading-screen {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.5);
	}
}
@keyframes menu-draw-in-loading-screen {
	0% {
		opacity: 0;
		transform: scale(1.5);
		filter: blur(5px);
	}
	100% {
		opacity: 1;
		transform: scale(1);
		filter: blur(0px);
	}
}

/** container **/
.container {
	margin-top: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	flex-direction: column;
	margin-top: 30px;
	overflow: auto;
}
.container-draw-in {
	animation: menu-draw-in-loading-screen 0.3s ease-out;

	animation-fill-mode: forwards;
}

/** controls **/
controls {
	margin-top: 0px;
	border-radius: 10px;
	width: 100px;
	height: 50px;
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	position: fixed;
	z-index: 2;
	backdrop-filter: blur(10px);
}
.controls {
	margin: 15px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.control,
.parameter {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
/** icon settings **/
img {
	-webkit-user-drag: none;
}
.control {
	display: flex;
	padding: 4px;
	height: 31px;
	width: 31px;
	border-radius: 15.5px;
	font-size: 20px;
}
.control:hover {
	background-color: var(--primary-hover);
	cursor: pointer;
}

.settings-header {
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 24px;
	display: flex;
	flex-direction: row;
	align-items: center;
	text-transform: uppercase;
}
/** rotate icon in each menu **/
.rotate {
	font-size: 20px;
	transform: rotate(45deg);
}

/**** Add icon*/
.add {
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
}
.add-div {
	display: flex;
	flex-direction: row;
	padding: 20px;
	padding-bottom: 5px;
}

#pass-div {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 1px;
}
.settings {
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

menu {
	opacity: 0;
	transform: translateY(-100%);
	transition: 0.4s;
}
.settings-body {
	display: flex;
	flex-direction: row;
}
.settings-buttons {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border-right: none;
	width: 180px;
	margin-right: 40px;
	z-index: 4;
}

/****** Menu Animation*/
.togglemenus {
	opacity: 1;
	transform: translateY(0%);
}
.toggleSettings {
	height: 355px;
	transition: 0.4s ease-out;
	margin-top: 20px;
	width: 500px;
	background-color: var(--toggle-controls);
}

.toggleAbout {
	width: 340px !important;
	display: block !important;
	margin-top: 10px !important;
	height: 200px;
	overflow-y: auto;
	padding-right: 5px;
}
.toggleAbout::-webkit-scrollbar {
	width: 7px;
}
a {
	color: var(--primary-a);
}

.toggleAdd {
	height: 210px;
	margin-top: 20px;
	min-width: 500px;
	background-color: var(--toggle-controls);
}

/***** password */
.password-parameters {
	display: flex;
	flex-direction: column;
}
.settings-parameters-header {
	display: flex;
	flex-direction: row;
	align-items: left;
}
.settings-parameters-header p {
	font-size: 24px;
}

.settings-sub-body-header {
	font-size: 16px;
	font-weight: bold;
	margin-top: 5px;
}
.settings-sub-header {
	text-align: center;
	width: 100%;
	padding-bottom: 20px;
}
.settings-sub-body {
	font-size: 14px;
}
button {
	background-image: var(--primary-button);
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	height: 30px;
	color: var(--primary-color);
}
button:not(.button-header):hover {
	color: var(--secondary-color);
	background-color: var(--secondary-button);
}
.button-header {
	background-color: transparent;
	background-image: none;
	border-left: 4px solid transparent;
	margin: 0;
	border-radius: 0;
	color: var(--secondary-color);
	width: 100%;
	text-align: left;
	height: 30px;
	margin-bottom: 10px;
}

.button-header:hover {
	color: var(--tertiary-color);
}
.button-header-active {
	border-left: 4px solid var(--secondary-button) !important;
	color: var(--primary-color);
	transition: 0.1s;
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
button:hover {
	cursor: pointer;
	color: var(--secondary-color);
}

.settings-parameters {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 190px;
	transform: translateX(-100%);
	transition: 0.3s;
	opacity: 0;
}
.settingsToggle {
	opacity: 1;
	transform: translateX(0%);
}
input {
	margin: 5px;
	padding: 5px;
	background-color: transparent;
	border: 2px solid var(--primary-input);
	border-radius: 5px;
	transition: 0.4s;
	color: var(--secondary-color);
}
input:hover,
input:focus {
	border-color: var(--secondary-input);
}
.noerror {
	font-size: 11px;
	color: transparent;
	height: 0px;
}
.error {
	color: rgb(252, 61, 61);
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
}
.confirm {
	height: 18px;
	animation: tr-draw-in 0.25s ease-out;
	color: var(--primary-green);
}
.change-password-confirm {
	width: calc(100% - 20px);
}
/**** Lock */
.lock-param {
	height: 30px;
	width: calc(100% - 10px);
}
.disabled {
	background-color: rgb(252, 61, 61);
}

#tbody cell {
	padding: 5px;
	height: 35px;
}
#tbody {
	margin-top: 95px;
}
.tr-edit {
	height: 55px;
}

.header {
	font-weight: bold;
	position: sticky;
}

.header p {
	margin: 5px;
}
#password {
	user-select: none;
}

/******** Add input*/

/*** Add button*/
.add-button {
	margin: 5px;
	padding: 5px;
	width: 100%;
}
.body-margin-add {
	margin-top: 285px !important;
}
.body-margin-settings {
	margin-top: 415px !important;
}

.tbody-data {
	display: flex;
	flex-direction: column-reverse;
}
/** Table **/
#table {
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	display: flex;
	flex-direction: column;
	animation: slide-in 0.15s ease-out;
}
.margin-settings {
	padding-top: 380px !important;
}
.margin-add {
	padding-top: 250px !important;
}
#hide-show {
	width: 100px;
}
.hide-show {
	text-align: center;
	cursor: pointer;
	padding: 2px;
	border-radius: 0 2px 2px 0;
	height: 26px;
	width: 26px;
}

.hide-show:active {
	transform: scale(0.97);
}
#add-password {
	width: 95%;
	border: 0;
	margin: 0;
	border: 1px solid transparent;
}

#add-pass {
	width: 100%;
	margin: 5px;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	height: 30px;
	display: flex;
	flex-direction: row;
}
.pass-div#add-pass:hover,
.pass-div#add-pass:focus-within {
	border-color: var(--secondary-input);
}
#cell-edit,
#cell-showHide,
#cell-delete {
	padding: 6px;
	cursor: pointer;
	height: 28px;
	border-radius: 5px;
}
#cell-edit:active,
#cell-showHide:active,
#cell-delete:active {
	transform: scale(0.85);
	transition: 0.1s ease-out;
}
#controls {
	display: flex;
	flex-direction: row;
}

.padding-zero {
	padding: 0;
}

@keyframes slide-in {
	0% {
		transform: translateY(-48px);
		opacity: 0;
	}
}

.tbody-data div {
	animation: slide-in 0.25s ease-out;
	padding: 5px;
}

.tbody-data div:hover {
	background-color: var(--row-hover);
}
.tbody-animation {
	animation: slide-in 0.25s ease-out;
}

#table-type,
#table-service,
#table-email,
#table-password {
	width: calc(100% - 5px);
	margin: 2px;
}

#thead {
	padding-top: 60px;
	position: fixed;
	width: 75%;
	max-width: 1000px;
	min-width: 600px;
	backdrop-filter: blur(5px);
	z-index: 1;
	border-bottom: var(--primary-thead-border);
}
#type,
#service,
#email,
#password {
	width: calc(25%);
	text-align: center;
	overflow: hidden;
	overflow-x: visible;
	border-radius: 5px !important;
}
#type:active,
#service:active,
#email:active,
#password:active {
	transform: scale(0.9);
	transition: 0.1s ease-out;
}
.hide-show:hover {
	background-color: var(--cell-hover);
}
#type:hover:not(.header),
#service:hover:not(.header),
#email:hover:not(.header),
#password:hover:not(.header),
#cell-edit:hover,
#cell-showHide:hover,
#cell-delete:hover {
	background-color: var(--cell-hover);
}
#type::-webkit-scrollbar,
#service::-webkit-scrollbar,
#email::-webkit-scrollbar,
#password::-webkit-scrollbar {
	height: 7px;
	border-radius: 5px;
}

.header {
	padding: 5px;
	height: 35px;
}
#tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: tr-draw-in 0.25s ease-out;
	border-radius: 5px;
}
.tbody-data #tr {
	height: 60px;
}
@keyframes tr-draw-in {
	0% {
		transform: scale(0.5);
	}
}
/******* draw out animation*/
.draw-out-animation {
	animation: tr-draw-out 0.3s ease-in !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}
@keyframes tr-draw-out {
	0% {
		opacity: 0;
		transform: scale(0.2) translateY(-48px);
		height: 0;
	}
}
#copy {
	font-size: 12px;
	background-color: none;
	padding: 0;
	margin: 0;
	animation: copy-slide-in 1.6s ease-out;
	color: var(--copy-color);
}
#copy:hover {
	background-color: transparent;
}

@keyframes copy-slide-in {
	0% {
		transform: translateY(20px);
		opacity: 0;
	}
	10% {
		transform: translateY(00px);
		opacity: 1;
	}
	90% {
		transform: translateY(00px);
		opacity: 1;
	}
	100% {
		transform: translateY(20px);
		opacity: 0;
	}
}

.save {
	position: fixed;
	bottom: 10px;
	left: 10px;
	width: 100px;
	animation: button-slide-in 0.3s ease-out;
}

.button-slide-out {
	animation: button-slide-out 0.3s ease-out !important;
	animation-direction: reverse !important;
	animation-fill-mode: forwards !important;
}

@keyframes button-slide-in {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

@keyframes button-slide-out {
	0% {
		transform: translateX(-150px);
		opacity: 0;
	}
	60% {
		transform: translateX(20px);
	}
}

.header-icon {
	margin-right: 10px;
}

.settings-header img {
	animation: rotation 2s linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;
}

@keyframes rotation {
	100% {
		transform: rotate(360deg);
	}
}
/** gridlines **/
.gridlinesOn {
	border: 1px solid var(--primary-color);
}
#window-controls .button:hover {
	background-color: (--primary-hover);
}
/**** Responsive */
@media only screen and (max-width: 1200px) {
	.toggleAdd {
		height: 270px;
		width: 25%;
	}

	.add-div {
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
	}
	.add-div input,
	.pass-div#add-pass {
		width: 47.5%;
	}

	.controlsSpan {
		height: 280px;
	}
	.margin-add {
		padding-top: 320px !important;
	}
	.body-margin-add {
		margin-top: 355px !important;
	}
}
