/** Table **/
#table {
	width: 90%;
	max-width: 1500px;
	min-width: 600px;
	display: flex;
	flex-direction: column;
}

#thead {
	padding-top: 70px;
	position: sticky;
	top: 0;
	backdrop-filter: blur(5px);
	border-bottom: var(--primary-thead-border);
	z-index: 1; /* Important for blur affect to cover controls column*/
}
.margin-settings {
	padding-top: 380px !important;
}
.table-header {
	padding: 5px;
	height: 35px;
	font-weight: bold;
	text-transform: uppercase;
}

.tbody {
	display: flex;
	flex-direction: column-reverse;
}

#tr {
	width: 100%;
	display: flex;
	flex-direction: row;
	animation: tr-draw-in 0.25s ease-out;
	border-radius: 5px;
	border: 1px solid transparent;
	padding: 5px;
}
.tbody #tr {
	height: 68px;
}
@keyframes tr-draw-in {
	0% {
		transform: translateY(-150%) scale(0.5);
		opacity: 0;
		height: 0;
	}
}
/* draw out animation*/
#tr.draw-out-animation {
	opacity: 0;
	transform: translateY(-150%) scale(0.5);
	height: 0 !important;
	padding: 0 !important;
	border: 0;
}
/** gridlines **/
#tr.table-gridlines {
	border-color: var(--secondary-color);
}
/* hovering a row */
.tbody #tr:hover {
	background: var(--row-hover);
}

.table-cell,
.table-header:not(.controls) {
	width: calc(33.33% - 72.8px);
	text-align: center;
	overflow: auto hidden;
	border-radius: 5px !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5px;
}
.table-cell.password {
	overflow-x: hidden;
}
.cell-content.password {
	overflow: auto hidden;
}
.cell-content.password::-webkit-scrollbar {
	height: 5px;
}

.table-cell,
.table-cell input {
	cursor: pointer;
}
.tr-edit {
	border-left: 5px solid var(--row-edit) !important;
}
.tr-edit .table-cell,
.tr-edit .table-cell input {
	cursor: auto;
}
/* hovering a cell */
.table-cell:not(.controls):hover,
.cell-control:hover {
	background: var(--cell-hover);
}
.cell-click {
	animation: cellClick 0.2s ease-out;
}
@keyframes cellClick {
	0% {
		transform: scale(1);
	}
	40% {
		transform: scale(0.9);
	}
	70% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

.table-cell:not(.control)::-webkit-scrollbar {
	height: 7px;
	border-radius: 5px;
}
input.cell-input {
	font-size: 16px;
	height: 100%;
	margin: 0;
	text-align: center;
	padding: 0;
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 95px;
}
.cell-control {
	padding: 6px;
	cursor: pointer;
	height: 28px;
	border-radius: 5px;
	position: relative;
}
.cell-control-icon:not(.cell-hideShow-icon) {
	width: 15px;
}
.cell-hideShow-icon {
	width: 21px;
}
.cell-control:active {
	transform: scale(0.85);
	transition: 0.1s ease-out;
}

.table-cell.service {
	flex-direction: row-reverse;
	align-items: center;
}

#password {
	user-select: none;
	overflow-x: hidden !important;
}

#strength-text {
	font-size: 10px;
	text-align: left;
	padding-bottom: 1px;
}
#strength-bar {
	height: 4px;
	border-radius: 2px;
	padding: 0;
}

#service-icon {
	width: 30px;
	margin: 2px;
	border-radius: 5px;
}
