:root {
	/** Global Settings **/
	--body: rgb(240, 240, 240);
	--primary-color: black;
	--secondary-color: rgb(30, 30, 30);
	--tertiary-color: rgb(75, 75, 75);
	--primary-hover: rgb(200, 200, 200);

	/** Scrollbar **/
	--scrollbar-track: rgb(190, 190, 190);
	--scrollbar-thumb: rgb(160, 160, 160);
	--scrollbar-thumb-hover: rgb(140, 140, 140);

	/** Controls **/
	--toggle-controls: rgba(226, 226, 226, 0.4);
	--toggle-controls-opaque: rgba(226, 226, 226, 1);
	--primary-a: rgb(43, 85, 173);

	/** Button **/
	--primary-button: rgb(64, 124, 255);
	--secondary-button: rgb(64, 124, 255);
	--primary-green: rgb(40, 161, 50);

	/** Input **/
	--primary-input: rgb(80, 80, 80);
	--secondary-input: rgb(64, 124, 255);

	/** Table **/
	--primary-thead-border: 2px solid black;
	--row-hover: rgb(220, 220, 220);
	--cell-hover: rgb(200, 200, 200);
	--copy-color: rgb(75, 75, 75);
}
/** Icons **/
img:not(#service-icon) {
	filter: invert(1);
}

a:hover {
	filter: brightness(0.8);
}
