* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	outline: none;
	user-select: none;
	transition: 0.2s ease-out;
	font-family: "Segoe UI", sans-serif;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 30px;
	height: 100%;
	width: 100%;
}
body {
	background: var(--body);
	color: var(--primary-color);
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.h1 {
	font-size: 24px;
}
.h2 {
	margin: 10px;
	font-size: 12px;
	color: var(--secondary-color);
}
input {
	padding: 5px 5px 5px 5px;
	background: transparent;
	height: 30px;
	width: 80%;
	border: 1px solid var(--primary-input);
	border-radius: 5px;
	color: var(--secondary-color);
}
input:hover,
input:focus {
	background: transparent !important;
	border-color: var(--secondary-input);
}
input#password {
	margin: 10px;
}

button {
	margin: 10px;
	height: 30px;
	width: 60%;
	border-radius: 5px;
	border: none;
	background: var(--primary-button);
	color: var(--secondary-color);
	cursor: pointer;
}
button:hover {
	color: var(--secondary-color);
	transform: scale(1.05) translateZ(0) perspective(1px);
	transition: 0.1s;
}
button:active {
	transform: scale(0.95);
	transition: 0.1s;
}
.noerror {
	color: transparent;
	text-align: center;
}
.error {
	color: rgb(252, 61, 61);
}

button:active {
	transform: scale(0.97);
	transition: 0.1s;
}

/** hide show **/
.hide-show {
	cursor: pointer;
	padding: 2px;
	border-radius: 0 2px 2px 0;
	height: 31px;
	width: 31px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hide-show:active {
	transform: scale(0.97);
}

.hide-show:hover {
	background: var(--cell-hover);
}
input#password {
	width: 95%;
	border: 0;
	margin: 0;
	border: 1px solid transparent;
}

.password-div {
	width: 80%;
	margin: 5px;
	border: 2px solid rgb(80, 80, 80);
	border-radius: 5px;
	height: 35px;
	display: flex;
	flex-direction: row;
}
.password-div:hover {
	border-bottom-color: var(--secondary-input);
}
.password-div:focus-within {
	border-color: var(--secondary-input);
}
