/* Serach popup */
.search-window {
	position: absolute;
	top: 30px;
	left: 0;
	padding: 2px;
	border-radius: 0 0 10px 0;
	background: var(--toggle-controls);
	backdrop-filter: blur(4px);
	z-index: 10;
	animation: searchbar-draw-in 0.2s ease-out;
	width: 300px;
}

@keyframes searchbar-draw-in {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}
}

.search-window-draw-out {
	transform: translateY(-100%);
	opacity: 0;
}

img.toggleSearch {
	transform: rotate(-90deg);
}
div.no-match {
	height: 0 !important;
	opacity: 0 !important;
	padding: 0 !important;
	border: none !important;
	transform: scaleY(0) !important;
	background-color: rgb(250, 50, 50) !important;
}
#search-input-rich-input-container {
	width: 94%;
}
